#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.terminal-container {
  max-width: 800px;
  min-width: 70vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.react-terminal-line {
  /*white-space: pre;*/
  text-align: left; /* Explicitly set left alignment */
}
